<% js_phrase = phrase.gsub('/', '-') %>
<div id='quill-<%= js_phrase %>'>
  <% if can_edit_phrases? %>
    <div id='quill-<%= js_phrase %>-uneditable'>
      <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
    </div>
    <div id='quill-<%= js_phrase %>-editable'>
      <%= render partial: 'editable/quill/editable', locals: {phrase: phrase} %>
    </div>
  <% else %>
    <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
  <% end %>
</div>


<% if can_edit_phrases? %>
  <script>
    $('#quill-<%= js_phrase %>-editable').hide();


    <%# Detect attr change that shows editing has been enabled/disabled %>
    phrasing_last_value = undefined
    setInterval(function () {
      var value = $('#phrasing-status > span').attr('contenteditable')

      console.log('Status | ' + phrasing_last_value + " | " + value)
      if (value != phrasing_last_value) {
        if (value == 'true') {
          console.log('A')
          $('#quill-<%= js_phrase %>-uneditable').hide();
          $('#quill-<%= js_phrase %>-editable').show();
          console.log('B')
        } else {
          console.log('C')
          $('#quill-<%= js_phrase %>-uneditable').show();
          $('#quill-<%= js_phrase %>-editable').hide();
          console.log('D')
        }
        phrasing_last_value = value
      }

    }, 500); // Execute somethingElse() every 2 seconds.


    var defaults = {
      theme: 'snow',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, false] }],
          [{ 'color': [] }, { 'background': [] }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],['image'],
          ['clean']
        ]
      }
    };

    //This is the global config object
    Quilljs.setDefaults(defaults)
  </script>
<% end %>