<% js_phrase = phrase.gsub('/', '-') %>
<div id='quill-<%= js_phrase %>'>
  <% if can_edit_phrases? %>
    <div class='quill-uneditable'>
      <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
    </div>
    <div class='quill-editable'>
      <%= render partial: 'editable/quill/editable', locals: {phrase: phrase} %>
    </div>
  <% else %>
    <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
  <% end %>
</div>


<% if can_edit_phrases? %>
  <script>
    $('#quill-<%= js_phrase %>-editable').hide();


    <%# Detect attr change that shows editing has been enabled/disabled %>
    phrasing_last_value = undefined
    setInterval(function () {
      var value = $('#phrasing-status > span').attr('contenteditable')

      console.log('Status | ' + phrasing_last_value + " | " + value)
      if (value != phrasing_last_value) {
        if (value == 'true') {
          $('.quill-uneditable').hide();
          $('.quill-editable').show();
        } else {
          $('.quill-uneditable').show();
          $('.quill-editable').hide();
        }
        phrasing_last_value = value
      }

    }, 500); // Execute somethingElse() every 2 seconds.
  </script>
<% end %>