<% js_phrase = phrase.gsub('/', '-') %>
<div id='quill-<%= js_phrase %>'>
  <% if can_edit_phrases? %>
    <div class='quill-uneditable'>
      <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
    </div>
    <div class='quill-editable'>
      <%= render partial: 'editable/quill/editable', locals: {phrase: phrase} %>
    </div>
  <% else %>
    <%= render partial: 'editable/quill/uneditable', locals: {phrase: phrase} %>
  <% end %>
</div>


<% if can_edit_phrases? %>
  <script>
    $('#quill-<%= js_phrase %>-editable').hide();

  </script>
<% end %>