<% js_phrase = phrase&.gsub('/', '-')&.gsub('_', '-') %>
<div class="<%= js_phrase %>">
  <style>
    <% heading_font_size = phrase_lookup("#{phrase}/size").to_i %>
    <% if heading_font_size > 0 %>
      .<%= js_phrase %> .panel-heading p {
        font-size: <%= heading_font_size %>px;
      }
    <% end %>
  </style>
  <div class="panel-heading">
    <% font_size = phrase_lookup("#{phrase}/size").to_i %>
    <%= render partial: 'editable/size', locals: { phrase: phrase } %>
    <div style='<%= "font-size: #{font_size}px !important" if font_size > 0 %>'>
      <%= render partial: "editable/#{editable_type(phrase)}",
                 locals: { phrase: phrase } %>
    </div>
  </div>
</div>