<p>
  Note: Article currently becomes visible once the title, summary and body has been filled out.<br>
  Note: Image URL is optional and isn't validated. Recommend deleting text then copy/paste of any image URLs.
</p>


<h2>Title</h2>
<%= render partial: 'editable/sized_text', locals: { phrase: @article.title_phrase_name } %>

<h2>Summary</h2>
<%= render partial: 'editable/sized_text', locals: { phrase: @article.summary_phrase_name } %>

<h2>Body</h2>
<%= render partial: 'editable/sized_text', locals: { phrase: @article.body_phrase_name } %>

<h2>Image URL</h2>
<%= render partial: 'editable/text', locals: { phrase: @article.image_url_phrase_name } %>

<h2>URLs (For reference)</h2>
<dl class="dl-horizontal">
  <% long_url = @article.source %>
  <% short_url = ShortUrl.fetch(long_url, true) %>
  <dt><strong>Long URL:</strong></dt>
  <dd><%= link_to long_url, long_url %></dd>
  <dt><strong>Short URL:</strong></dt>
  <dd><%= link_to short_url, short_url %></dd>
</dl>


<p>Contact developer right away if short url doesn't show up, isn't short or either link is broken.</p>
