<div class="fb-post" data-href="<%= fb_post.facebook_url %>" data-width="750" data-show-text="false">
  <blockquote cite="<%= fb_post.facebook_url %>" class="fb-xfbml-parse-ignore">
    Posted by
    <a href="https://www.facebook.com/facebook/">
      <%= fb_post.posted_by %>
    </a> on&nbsp;<a href="<%= fb_post.facebook_url %>">
      <%= fb_post.pub_date %>
    </a>
  </blockquote>
</div>