<% phrase_heading = "home/panel/#{name}/heading" %>
<% footer_text = "home/panel/#{name}/footer" %>
<% footer_text = "Read More" %>
<% js_phrase_heading = phrase_heading&.gsub('/', '-')&.gsub('_', '-') %>
<div class="panel panel-default <%= js_phrase_heading %>">
  <% if defined? phrase_heading %>
    <style>
      <% heading_font_size = phrase_lookup("#{phrase_heading}/size").to_i %>
      <% if heading_font_size > 0 %>
        .<%= js_phrase_heading %> .panel-heading p {
          font-size: <%= heading_font_size %>px;
        }
      <% end %>
    </style>
    <div class="panel-heading">
      <% font_size = phrase_lookup("#{phrase_heading}/size").to_i %>
      <%= render partial: 'editable/size', locals: { phrase: phrase_heading } %>
      <div style='<%= "font-size: #{font_size}px !important" if font_size > 0 %>'>
        <%= render partial: "editable/#{editable_type(phrase_heading)}",
                   locals: { phrase: phrase_heading } %>
      </div>
    </div>
    <div class="panel-body">
      <table class='table table-condensed table-striped table-hover table-bordered'>
      <% feed.all.first(count).each do |item| %>
        <% url = item.try(:link) %>
        <% url = url || item.try(:url) %>
        <% url = url || item.try(:source) %>
        <tr>
          <td style='vertical-align: middle; border-right: none'>
            <small
              <small><%= truncate(item.title, length: 25) %></small>
          </td>
          <td style='border-left: none'>
            <%= link_to url, target: '_blank' do %>
              <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  <% if defined?(footer_text) && defined?(footer_source) %>
    <style>
      <% footer_font_size = phrase_lookup("#{footer_text}/size").to_i %>
      <% if footer_font_size > 0 %>
        .<%= js_phrase_heading %> g.panel-footer p {
          font-size: <%= footer_font_size %>px;
        }
      <% end %>
    </style>
    <div class="panel-footer text-right">
      <%= render partial: 'editable/size', locals: { phrase: footer_text } %>
      <div style='<%= " !important" if font_size > 0 %>'>
        <%= link_to footer_text, footer_source, "data-turbolinks" => "false" %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>