<% partial_path = "pages/home" %>
<%= render partial: 'editable/text', locals: { phrase: 'home/brand_statement' } %>
<div class='clearfix'></div>
<br>
<%= render partial: "editable/carousel", locals: {
  phrase: "#{partial_path}/carousel/top"
} %>

<br>
<br>
<%= render partial: "#{partial_path}/three_panels" %>
<div class='clearfix'></div>

<br>
<div class='col-md-12'>
  <%= render partial: 'editable/panel', locals: {
    phrase_heading: "#{partial_path}/panel/wide/heading",
    phrase_body: "quill/#{partial_path}/panel/wide/heading",
  } %>
</div>
<div class='clearfix'></div>

<br>
<% 3.times do |i| %>
  <div class='col-md-4'>
    <%= render partial: 'editable/panel', locals: {
      phrase_heading: "home/panel/feed_#{i + 1}/heading",
      phrase_body: "home/panel/feed_#{i + 1}/body",
    } %>
  </div>
<% end %>
<div class='clearfix'></div>

<script>
  <%# Detect attr change that shows editing has been enabled/disabled %>
  phrasing_last_value = undefined
  setInterval(function () {
    var value = $('#phrasing-status > span').attr('contenteditable')

    console.log('Status | ' + phrasing_last_value + " | " + value)
    if (value != phrasing_last_value) {
      if (value == 'true') {
        $('.quill-uneditable').hide();
        $('.quill-editable').show();
      } else {
        $('.quill-uneditable').show();
        $('.quill-editable').hide();
      }
      phrasing_last_value = value
    }

  }, 500); // Execute somethingElse() every 2 seconds.
</script>
