<%= form_for(@leadership_job) do |f| %>
  <% if @leadership_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leadership_job.errors.count, "error") %> prohibited this leadership_job from being saved:</h2>

      <ul>
      <% @leadership_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :pubdate %><br>
    <%= f.text_field :pubdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
