<%- model_class = LeadershipJob -%>
<%# Parialized, so move pagination handler here instead of the controller %>
<% @leadership_jobs = @leadership_jobs.page(params[:page]).per(10) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th class='readmore'><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:pub_date) %></th>
    </tr>
  </thead>
  <tbody>
    <% preview_characters = 100 %>
    <% @leadership_jobs.each do |leadership_job| %>
      <tr>
        <td><%= link_to leadership_job.title, leadership_job.link %></td>
        <td>
          <% if leadership_job.description.length > preview_characters %>
            <%= sanitize truncate(leadership_job.description, length: preview_characters) %>
            <%= link_to 'Read more', '', class: "read-more-#{leadership_job.id}" %>
            <script>
              $('.read-more-<%= leadership_job.id %>').on('click', function(e) {
                e.preventDefault()
                $(this).parent().html('<%= sanitize j leadership_job.description %>')
              })
            </script>
          <% else %>
            <%= leadership_job.description %>
          <% end %>
        </td>
        <td><%= leadership_job.pub_date %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @leadership_jobs %>
